* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#game-bg {
  position: absolute;
  background: rgb(168, 235, 166);
  z-index: 0;
}

#game-canvas {
  position: absolute;
  z-index: 3;
}
#game-md {
  position: absolute;
  z-index: 1;
}
